@import 'variables';
@import 'mixins';


*, *:after, *:before {
    // outline: 1px solid pink;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

  

li {
    list-style: none;
}

::selection {
    background-color: #8ea8ff70;
    color: $p-black;
}

main {
    padding: 0 $spacing-outer;
}

body {
    font-family: $primary-body, serif;
    height: calc(100vh - $header-height);
    background-color: $bg-clr;
}

h1, h2, h3, h4, h5, h6, .title {
    font-weight: 200;
    text-transform: uppercase;
    font-family: $primary-heading, 'Times New Roman', Times, serif;

}


.btn  {
    all: unset;

    @include element;    
    
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    cursor: pointer;

    &:hover {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
    }

    &:focus-visible {
        @include focusElement;
    }   

    &:disabled {
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        background-color: $grey-50;
        opacity: 0.3;
        &:hover {
            cursor: not-allowed;
        }
    }

}

.link {
    all: unset;
    color: $p-black;
    position: relative;
    &:focus-visible {
        @include focusElement;
    }

    &:hover {
        cursor: pointer;
    }
    &::after{
        visibility: hidden; 
        content: "";
        display: block;
        background-color: $p-black; 
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 1px;
        transition: transform .4s ease-in-out;
        transform: scaleX(0);
        transform-origin: center;
    }
    &:hover::after, &.active::after {
        visibility: visible; 
        transform: scaleX(1);
    }
}


.ng-valid[required],
.ng-valid.required {
  /* border-left: 5px solid #42a948; */
  border: none;
}

.ng-invalid:not(form):not(.ng-untouched) {
  border: 1px solid $danger-500;
  background-color: $danger-50;
  color:$danger-500;
  &:focus-visible {
    @include focusElement($danger-500, $danger-50)
  }
}