<li class="cart-item" *ngIf="cartItem">
    <div>
        <div class="cart-item-content">
            <div class="cart-item-image">
                <img src="/assets/images/tree.png" [alt]="cartItem.product.name">
            </div>
            <div class="cart-item-title">
                <p>
                    <a class="link" routerLink="/products/{{cartItem.product.id}}" >{{ cartItem.product.name }}</a>
                </p>
            </div>
            <div class="cart-item-price">
                <p>{{ cartItem.totalPrice }} usd</p>
                <p>QTY {{ cartItem.quantity }}</p>
            </div>
        </div>
    </div>
    
</li>